<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Welcome to AlphaBlog! If you are in love with books like we are, then this blog is for you! </p>
  <hr class="my-4">
  <p><i>“Books are a uniquely portable magic”</i><br>Stephen King</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg button" href="#" role="button">Learn more</a>
  </p>
</div>
