<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">Welcome to BookStreet! If you are in love with books like we are, then this blog is for you! </p>
  <hr class="my-4">
  <p><i>“Books are a uniquely portable magic”</i><br>Stephen King</p>
  <p class="lead">
    <%= link_to "Sign up!", signup_path, class:"btn btn-primary btn-lg button", role:"button" %>
  </p>
</div>
